Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck --run 'find . -name "*.sh" -o -name "*.bash" | xargs shellcheck'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

format-terraform:
  name: format terraform
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p opentofu --run "cd infra && tofu fmt"

Switch to claudecode.nvim
  .mcp.json
  flake.lock
  flake.nix
  nix/nixpkgs/nvim-mcp-connect/default.nix
  nix/nixpkgs/nvim-mcp-connect/nvim-mcp-connect.sh
  nvim/lua/plugins/claudecode.lua
  nvim/lua/plugins/noice.lua
Due: flake-check, format-nix, format-lua, shellcheck, shfmt, remove-trailing-whitespace

Fix Ctrl+H/J/K/L navigation from Neovim terminal mode
  nix/nixpkgs/claude-code/default.nix
  nvim/lua/plugins/tmux.lua
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Open claude code diff in new window
  nvim/lua/plugins/claudecode.lua
Due: format-lua, remove-trailing-whitespace

Add find keymaps shortcut to telescope
  nvim/coc-settings.json
  nvim/lua/plugins/coc.lua
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Use --continue as default with ClaudeCode command
  nvim/lua/plugins/claudecode.lua
Due: format-lua, remove-trailing-whitespace

Fix issues with hekate dashboard
  .pre-commit-config.yaml
  systems/hekate/run/dashboard/webui/default.nix
  systems/hekate/run/dashboard/webui/package.json
  systems/hekate/run/dashboard/webui/pnpm-lock.yaml
  systems/hekate/run/dashboard/webui/src/app/app.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/app.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/datetime-picker/datetime-picker.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/datetime-picker/datetime-picker.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/datetime-range-slider/datetime-range-slider.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/datetime-range-slider/datetime-range-slider.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/health.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/log-entry.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/logs-viewer.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/logs-viewer.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/logs.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/network.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/status.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/time.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/wireguard.component.ts
  systems/hekate/run/dashboard/webui/src/app/services/api.service.ts
  systems/hekate/run/dashboard/webui/src/app/services/dashboard.service.ts
  systems/hekate/run/dashboard/webui/src/app/store/dashboard.store.spec.ts
  systems/hekate/run/dashboard/webui/src/app/store/dashboard.store.ts
  systems/hekate/run/dashboard/webui/src/app/tabs.ts
  systems/hekate/run/dashboard/webui/src/app/types.ts
  systems/hekate/run/dashboard/webui/src/app/utils/date-range.spec.ts
  systems/hekate/run/dashboard/webui/src/app/utils/date-range.ts
  systems/hekate/run/dashboard/webui/src/app/utils/fp.spec.ts
  systems/hekate/run/dashboard/webui/src/app/utils/fp.ts
  systems/hekate/run/dashboard/webui/src/app/utils/url-state.spec.ts
  systems/hekate/run/dashboard/webui/src/app/utils/url-state.ts
Due: flake-check, format-nix, remove-trailing-whitespace

Keep terminal focus on suggested diffs
  nvim/lua/plugins/claudecode.lua
Due: format-lua, remove-trailing-whitespace

Use simplified nvim for commit messages
  nix/git.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Grant nix-daemon access to cve-scan user
  nix/nixpkgs/cve-scanner/main.py
  nix/nixpkgs/cve-scanner/notifiers.py
  systems/hermes/configuration.nix
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Update claude code allow list
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Tighten infra
  bin/deploy-infra
  infra/.gitignore
  infra/.terraform.lock.hcl
  infra/main.tofu
  infra/modules/backup-monitor/functions/backup-monitor/package.json
  infra/modules/backup-monitor/functions/backup-monitor/pnpm-lock.yaml
  infra/modules/backup-monitor/functions/backup-monitor/src/index.ts
  infra/modules/backup-monitor/functions/backup-monitor/tsconfig.json
  infra/modules/backup-monitor/main.tofu
  infra/modules/backup-monitor/variables.tofu
  infra/modules/cve-monitor/main.tofu
  infra/modules/cve-monitor/variables.tofu
  infra/modules/hestia/main.tofu
  infra/modules/hestia/outputs.tofu
  infra/modules/hestia/variables.tofu
  infra/modules/ntfy-pubsub/functions/ntfy-forwarder/package.json
  infra/modules/ntfy-pubsub/functions/ntfy-forwarder/pnpm-lock.yaml
  infra/modules/ntfy-pubsub/functions/ntfy-forwarder/src/index.ts
  infra/modules/ntfy-pubsub/functions/ntfy-forwarder/tsconfig.json
  infra/modules/ntfy-pubsub/main.tofu
  infra/modules/ntfy-pubsub/outputs.tofu
  infra/modules/ntfy-pubsub/variables.tofu
  nix/nixpkgs/claude-code/settings.nix
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace, format-terraform

Use cc on hephaistos
  flake.nix
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update agents instructions for staging work
  AGENTS.md
Due: remove-trailing-whitespace

Use ssh tools and config on hephaistos
  systems/hephaistos/default.nix
  systems/hephaistos/fish/functions/ssh.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Tighten infra
  infra/main.tofu
  infra/modules/gcs-freshness-monitor/function/package.json
  infra/modules/gcs-freshness-monitor/function/src/index.ts
  infra/modules/gcs-freshness-monitor/function/tsconfig.json
  infra/modules/gcs-freshness-monitor/main.tofu
  infra/modules/gcs-freshness-monitor/variables.tofu
Due: remove-trailing-whitespace, format-terraform

Allow more claude commands
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Document hestia key situation
  systems/hestia/README.md
Due: remove-trailing-whitespace

Add custom antigravity theme
  antigravity/pastel-gray-theme/.gitignore
  antigravity/pastel-gray-theme/LICENSE
  antigravity/pastel-gray-theme/README.md
  antigravity/pastel-gray-theme/package.json
  antigravity/pastel-gray-theme/themes/pastel-gray.json
Due: remove-trailing-whitespace

Use noice spinner; remove fidget plugin
  nvim/lua/plugins/fidget.lua
  nvim/lua/plugins/noice.lua
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Consolidate and update styles
  fish/functions/fish_prompt.fish
  fish/functions/fish_right_prompt.fish
  nix/bat.nix
  nix/btop.nix
  nix/colors.nix
  nix/fish.nix
  nix/git.nix
  nix/neovim.nix
  nix/nixpkgs/claude-code/settings.nix
  nix/nixpkgs/yazi/default.nix
  nix/nixpkgs/yazi/pastel-gray.tmTheme
  nix/tmux.nix
  nvim/lua/options.lua
  nvim/lua/plugins/airline.lua
  nvim/lua/plugins/base16.lua
  nvim/lua/plugins/fidget.lua
  nvim/lua/plugins/noice.lua
  nvim/lua/plugins/nvim-notify.lua
  nvim/lua/plugins/telescope.lua
  systems/hephaistos/fish/functions/ssh.fish
Due: flake-check, format-nix, format-lua, format-fish, remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
