Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck --run 'find . -name "*.sh" -o -name "*.bash" | xargs shellcheck'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

format-terraform:
  name: format terraform
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p opentofu --run "cd infra && tofu fmt"

Make cat file type sensitive
  fish/functions/cat.fish
  nix/fish.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Tweak ding alert styling
  nix/nixpkgs/ntfy-me/ding.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Keep embed model weights in sysram
  nix/nixpkgs/llm-orchestrator/model_manager.py
Due: ruff-check, ruff-format, remove-trailing-whitespace

Fix ankigen
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Override nord tmux styling for alerts
  nix/nixpkgs/ntfy-me/ding.sh
  nix/tmux.nix
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace

Add embed step to ankigen
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Refine semantic searching in ankigen
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Update CLAUDE.md and AGENTS.md
  AGENTS.md
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

fixup! Update CLAUDE.md and AGENTS.md
  AGENTS.md
Due: remove-trailing-whitespace

Add --focus-pane to ding
  nix/nixpkgs/ntfy-me/ding.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Extract semsearch as a separate tool
  AGENTS.md
  nix/home.nix
  nix/nixpkgs/ankigen/default.nix
  nix/nixpkgs/ankigen/go.mod
  nix/nixpkgs/ankigen/go.sum
  nix/nixpkgs/ankigen/main.go
  nix/nixpkgs/semsearch/default.nix
  nix/nixpkgs/semsearch/go.mod
  nix/nixpkgs/semsearch/go.sum
  nix/nixpkgs/semsearch/main.go
  nix/nixpkgs/semsearch/semsearch/embed.go
  nix/nixpkgs/semsearch/semsearch/filter.go
  nix/nixpkgs/semsearch/semsearch/search.go
  nix/nixpkgs/semsearch/semsearch/types.go
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

Suppress warning from GCP
  nix/nixpkgs/secrets/secrets/backends/gcp.py
Due: ruff-check, ruff-format, remove-trailing-whitespace

Add firewall dashboard
  systems/hekate/configuration.nix
  systems/hekate/run/dashboard/components/dns.go
  systems/hekate/run/dashboard/components/firewall.go
  systems/hekate/run/dashboard/components/search.go
  systems/hekate/run/dashboard/main.go
  systems/hekate/run/dashboard/services/demo.go
  systems/hekate/run/dashboard/services/demo_stub.go
  systems/hekate/run/dashboard/services/dns.go
  systems/hekate/run/dashboard/services/firewall.go
  systems/hekate/run/dashboard/services/logs.go
  systems/hekate/run/services/firewall-logs-server.nix
  systems/hestia/build/image
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

Tweak dialog height
  nix/nixpkgs/ntfy-me/ding.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Tweak ding styling
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Add tmux wrapper
  fish/functions/tmux.fish
Due: format-fish, remove-trailing-whitespace

Temporarily disable hombrew
  nix/homebrew.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update semsearch to match exa format
  nix/nixpkgs/semsearch/semsearch/filter.go
Due: format-go, lint-go, remove-trailing-whitespace

Add qwen-chat and model sleeping
  nix/nixpkgs/llm-orchestrator/flake.nix
  nix/nixpkgs/llm-orchestrator/model_manager.py
  nix/nixpkgs/llm-orchestrator/orchestrator.py
  systems/herakles/configuration.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Override jank default swiftdialog background
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/ntfy-me/ding.sh
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace

Add hephaistos configuration
  bin/activate
  flake.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
