Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-files, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-files
        name: format files
        entry: bash
        language: system
        files: \.(nix|lua|fish)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style stylua fish --run 'fd -e nix -x nixfmt && stylua . && fd -e fish -x fish_indent -w'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Update ping-me
  fish/functions/ping-me.fish
Due: format-files, remove-trailing-whitespace

Allow passwordless sudo on pallas
  systems/pallas/configuration.nix
Due: format-files, remove-trailing-whitespace

Update hekate build script
  lib/build-hekate.py
Due: remove-trailing-whitespace

Fix hekate configuration
  lib/build-hekate.py
  systems/hekate/configuration.nix
Due: format-files, remove-trailing-whitespace

Improve ntfy-fish
  fish/functions/ntfy-me.fish
Due: format-files, remove-trailing-whitespace

Update hekate config
  lib/build-hekate.py
  lib/utils.py
  systems/hekate/configuration.nix
Due: format-files, remove-trailing-whitespace

Add fail2ban to hermes
  systems/hermes/configuration.nix
  systems/hermes/services/fail2ban.nix
Due: format-files, remove-trailing-whitespace

Add pre-commit: lint+format python
  .pre-commit-config.yaml
  lib/build-hekate.py
  lib/build-hermes.py
  lib/utils.py
  systems/hermes/services/n8n-setup.py
Due: remove-trailing-whitespace

Add shell checker and linter
  .pre-commit-config.yaml
  bin/activate
  bin/bootstrap
  bin/bootstrap.sh
  bin/build-gce-nixos-image.sh
  bin/build-hekate
  bin/build-hermes
  lib/lib.sh
  setup
Due: remove-trailing-whitespace

Add hestia initial config
  bin/build-hestia
  flake.nix
  infra/main.tofu
  infra/variables.tofu
  lib/build-hestia.py
  lib/lib.sh
  systems/hermes/hermes.tofu
  systems/hestia/configuration.nix
Due: format-files, remove-trailing-whitespace, format-terraform

Add hestia ssh key
  systems/authorized-keys.nix
Due: format-files, remove-trailing-whitespace

Run nix flake update
  flake.lock
Due: remove-trailing-whitespace

Use correct sshKey path on linux
  flake.nix
Due: format-files, remove-trailing-whitespace

df -> duf
  nix/fish.nix
  nix/home.nix
Due: format-files, remove-trailing-whitespace

Fix herakles build config
  flake.nix
Due: format-files, remove-trailing-whitespace

Update home-assistant config
  systems/hestia/configuration.nix
Due: format-files, remove-trailing-whitespace

Force remote building on hestia
  bin/activate
  systems/hestia/configuration.nix
Due: format-files, remove-trailing-whitespace

Adjust max build config
  flake.nix
  systems/herakles/configuration.nix
  systems/hestia/configuration.nix
Due: format-files, remove-trailing-whitespace

Add diffview bindings
  nvim/lua/plugins/diffview.lua
  nvim/lua/plugins/nvim-web-devicons.lua
Due: format-files, remove-trailing-whitespace
