Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Update keybindings
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

activate: allow settings alt default log level
  bin/activate
Due: remove-trailing-whitespace

Fix log_to_system for debug
  nix/nixpkgs/shellutils/logging-utils.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Add homerow
  nix/homebrew.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add bash completion for zeus
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Move system config to system folders
  flake.nix
  systems/hekate/default.nix
  systems/hephaistos/default.nix
  systems/herakles/default.nix
  systems/hermes/default.nix
  systems/hestia/default.nix
  systems/iris/default.nix
  systems/pallas/default.nix
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add fingerprint check for repo key
  bin/activate
Due: remove-trailing-whitespace

Implement build-image protocol
  bin/build-image
  flake.nix
  systems/hekate/default.nix
  systems/hermes/default.nix
  systems/hestia/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Move httpie to commonPackages
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add gemini-cli to zeus
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add helper function
  systems/hephaistos/default.nix
  systems/hephaistos/fish/cloudtop-tunnel.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Greatly simplify README
  README.md
Due: remove-trailing-whitespace

Re-enable homebrew
  bin/activate
  nix/homebrew.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Move keycheck to after logging init
  bin/activate
Due: remove-trailing-whitespace

Fix debug logging format
  nix/nixpkgs/shellutils/logging-utils.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Remap home DNS
  bin/activate
  systems/hekate/configuration.nix
  systems/hekate/rewrite-dns.lua
  systems/hestia/configuration.nix
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Remove qwen coder from herakles
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Fix git-crypt behaviour across worktrees
  bin/activate
Due: remove-trailing-whitespace

Add more hammerspoon bindings
  nix/platforms/darwin.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update flake.lock
  flake.lock
Due: remove-trailing-whitespace

Clean up repo
  flake.lock
  flake.nix
  nix/nixpkgs/litellm-proxy/default.nix
  nix/nixpkgs/litellm-proxy/flake.nix
  nix/nixpkgs/llm-orchestrator/default.nix
  nix/nixpkgs/llm-server/README.md
  nix/nixpkgs/llm-server/flake.lock
  nix/nixpkgs/llm-server/flake.nix
  systems/hekate/configuration.nix
  systems/hekate/run/dashboard/components/status.go
  systems/hekate/run/dashboard/services/demo.go
  systems/hekate/run/services/dns-logs-server.nix
  systems/herakles/configuration.nix
  systems/herakles/default.nix
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace
