Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, lint-typescript, organize-imports, bash-syntax, fish-syntax, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix --extra-experimental-features 'nix-command flakes' flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

lint-typescript:
  name: lint typescript
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - cd systems/hekate/run/dashboard/webui && pnpm run lint

organize-imports:
  name: organize typescript imports
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - cd systems/hekate/run/dashboard/webui && pnpm dlx organize-imports-cli src/app/**/*.ts

bash-syntax:
  name: bash syntax check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd --run 'fd -e sh -e bash -E worktrees -x bash -n && for f in bin/activate bin/bootstrap; do [ -f "$f" ] && bash -n "$f"; done'

fish-syntax:
  name: fish syntax check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish --no-execute'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck fd --run 'fd -e sh -e bash -E worktrees | xargs -r shellcheck; shellcheck bin/activate bin/bootstrap'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt fd --run 'shfmt -w -i 4 -ci $(fd -e sh -e bash -E worktrees) bin/activate bin/bootstrap'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | grep -vE "\.(png|ico|jpg|jpeg|gif|webp|woff|woff2|ttf|eot|pdf)$" | xargs -r sed -i "s/[[:space:]]*$//"'

Make flake evaluation lazy
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Clean up remote build config
  flake.nix
  systems/hestia/configuration.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Clean nix files
  flake.nix
  systems/hephaistos/configuration.nix
  systems/herakles/configuration.nix
  systems/hermes/configuration.nix
  systems/hestia/configuration.nix
  systems/hestia/default.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
  systems/zeus/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Overhaul pre-commit using just
  .pre-commit-config.yaml
  flake.nix
  justfile
  nix/home.nix
  nix/nixpkgs/claude-code/default.nix
  nix/platforms/darwin.nix
  systems/hekate/configuration.nix
  systems/hephaistos/configuration.nix
  systems/hephaistos/default.nix
  systems/herakles/configuration.nix
  systems/herakles/hardware-configuration.nix
  systems/hermes/configuration.nix
  systems/hermes/run/services/cve-scanner/default.nix
  systems/hermes/run/services/mongodb.nix
  systems/hermes/run/services/nginx.nix
  systems/hermes/run/services/ntfy.nix
  systems/hestia/configuration.nix
  systems/hestia/run/services/hass-backup/default.nix
  systems/hestia/run/services/nginx.nix
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add just treesitter config
  nvim/lua/plugins/treesitter.lua
Due: format-lua, remove-trailing-whitespace

Enable debug of fish ssh script with -v
  fish/functions/ssh.fish
Due: format-fish, fish-syntax, remove-trailing-whitespace

Resolve ssh config before calling et
  fish/functions/ssh.fish
Due: format-fish, fish-syntax, remove-trailing-whitespace

Specify port for et on pallas
  systems/pallas/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add eye break reminder tool
  nix/nixpkgs/twenty-twenty-twenty/default.nix
  nix/nixpkgs/twenty-twenty-twenty/main.py
  nix/platforms/darwin.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Extract ding terminal notifier
  nix/home.nix
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/claude-code/scripts/hook.sh
  nix/nixpkgs/claude-code/scripts/nvim-plan.sh
  nix/nixpkgs/claude-code/settings.nix
  nix/nixpkgs/ding/default.nix
  nix/nixpkgs/ding/ding.sh
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
  nix/platforms/darwin.nix
Due: flake-check, format-nix, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Remove redundant hook
  nix/nixpkgs/claude-code/settings.nix
  nvim/lua/utils/claude-plan.lua
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Update markdown render plugin
  nvim/lua/plugins/render-markdown.lua
Due: format-lua, remove-trailing-whitespace

Indicate sender in remote ding case
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
Due: bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Fix zeus config
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add ding to hephaistos
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Make gw hook idempotent
  systems/zeus/fish/functions/gw.fish
Due: format-fish, fish-syntax, remove-trailing-whitespace

Add just keep-sorted
  flake.nix
  justfile
  nix/home.nix
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/llm-local/flake.nix
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/shellutils/default.nix
  nix/platforms/darwin.nix
  systems/hekate/default.nix
  systems/hephaistos/default.nix
  systems/herakles/configuration.nix
  systems/herakles/run/services/llm-orchestrator/default.nix
  systems/hermes/default.nix
  systems/hermes/run/services/cve-scanner/default.nix
  systems/hestia/default.nix
  systems/hestia/run/services/otbr-agent/package.nix
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Push local fish config loading to the end
  nix/fish.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add sql to treesitter parsers
  nvim/lua/plugins/treesitter.lua
Due: format-lua, remove-trailing-whitespace

Wrap markdown in normal mode.
  nvim/lua/options.lua
Due: format-lua, remove-trailing-whitespace

Update twenty-twenty-twenty
  nix/nixpkgs/twenty-twenty-twenty/main.py
Due: ruff-check, ruff-format, remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  lint-typescript: any of: ^systems/hekate/run/dashboard/webui/src/.*\.(ts|html)$
  organize-imports: any of: ^systems/hekate/run/dashboard/webui/src/.*\.ts$
  bash-syntax: any of: (\.(sh|bash)$|^bin/)
  fish-syntax: any of: \.fish$
  shellcheck: any of: (\.(sh|bash)$|^bin/)
  shfmt: any of: (\.(sh|bash)$|^bin/)
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
