Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Improve ding alerting
  AGENTS.md
  nix/nixpkgs/ntfy-me/ding.sh
  nix/tmux.nix
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace

Reset to origin/main if main repo is clean
  bin/activate
Due: remove-trailing-whitespace

Restore use of ssh-ng
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Clean up
  fish/functions/_fzf_configure_bindings_help.fish
  fish/functions/_fzf_extract_var_info.fish
  fish/functions/_fzf_preview_changed_file.fish
  fish/functions/_fzf_preview_file.fish
  fish/functions/_fzf_report_diff_type.fish
  fish/functions/_fzf_report_file_type.fish
  fish/functions/_fzf_search_directory.fish
  fish/functions/_fzf_search_git_log.fish
  fish/functions/_fzf_search_git_status.fish
  fish/functions/_fzf_search_history.fish
  fish/functions/_fzf_search_processes.fish
  fish/functions/_fzf_search_variables.fish
  fish/functions/_fzf_wrapper.fish
  fish/functions/fzf_configure_bindings.fish
  fish/functions/fzf_fish_help.fish
  fish/functions/ren.fish
  nix/fish.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Use kv-cache offloading on herakles
  nix/nixpkgs/coder/default.nix
  nix/nixpkgs/llm-server/flake.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Fix lmcache hash
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add CUDA build env for lmcache
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Relax torch version requirement
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Patch torch version in setup.py
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Set TORCH_CUDA_ARCH_LIST for RTX 3090
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Skip runtime deps check for lmcache
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Reduce maxModelLen to 256K (model max)
  nix/nixpkgs/coder/default.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Reduce maxModelLen to 32K (GPU KV cache limit)
  nix/nixpkgs/coder/default.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add missing lmcache deps: aiofile, httptools
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use proper vLLM KV offloading CLI flags instead of kv-transfer-config
  nix/nixpkgs/coder/default.nix
  nix/nixpkgs/llm-server/flake.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Set max context to 39K (GPU KV cache limit)
  nix/nixpkgs/coder/default.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add --disable-hybrid-kv-cache-manager for LMCache compatibility
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add LMCache KV cache offloading to llm-server
  nix/nixpkgs/coder/default.nix
  nix/nixpkgs/llm-server/flake.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Small fixes to ding system
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
  nix/nixpkgs/ntfy-me/ntfy-me.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Use swiftdialog for nicer dialog prompts
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
  nix/nixpkgs/swiftdialog/default.nix
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace

Use a dedicated remote tmux session
  fish/functions/ssh.fish
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
Due: format-fish, shellcheck, shfmt, remove-trailing-whitespace

Add model orchestrator to herakles
  flake.nix
  nix/nixpkgs/litellm-proxy/flake.nix
  nix/nixpkgs/llm-orchestrator/flake.nix
  nix/nixpkgs/llm-orchestrator/model_manager.py
  nix/nixpkgs/llm-orchestrator/orchestrator.py
  nix/nixpkgs/llm-server/flake.nix
  systems/herakles/configuration.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Add recipient;support message type for remote ding
  flake.lock
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
  nix/nixpkgs/ntfy-me/ntfy-me.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Add user wide CLAUDE.md
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Delete unused functions
  fish/functions/qq.fish
  fish/functions/tmuxc.fish
  fish/functions/watchheader.fish
  fish/functions/wh.fish
  fish/functions/with.fish
  fish/functions/with_env.fish
Due: format-fish, remove-trailing-whitespace

Rewrite secrets cli in python
  nix/nixpkgs/secrets/default.nix
  nix/nixpkgs/secrets/secrets.sh
  nix/nixpkgs/secrets/secrets/__init__.py
  nix/nixpkgs/secrets/secrets/__main__.py
  nix/nixpkgs/secrets/secrets/backends/__init__.py
  nix/nixpkgs/secrets/secrets/backends/base.py
  nix/nixpkgs/secrets/secrets/backends/gcp.py
  nix/nixpkgs/secrets/secrets/backends/keychain.py
  nix/nixpkgs/secrets/secrets/backends/pass_backend.py
  nix/nixpkgs/secrets/secrets/backends/sqlite.py
  nix/nixpkgs/secrets/secrets/cli.py
  nix/nixpkgs/secrets/secrets/clipboard.py
  nix/nixpkgs/secrets/secrets/crypto.py
  nix/nixpkgs/secrets/secrets/history.py
  nix/nixpkgs/secrets/secrets/schema.py
  nix/nixpkgs/secrets/test_integration.py
  nix/nixpkgs/secrets/test_unit.py
Due: flake-check, format-nix, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace

Make cat file type sensitive
  fish/functions/cat.fish
  nix/fish.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace
