Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Support mercurial
  fish/functions/_is_hg.fish
  fish/functions/gadd.fish
  fish/functions/gamd.fish
  fish/functions/gci.fish
  fish/functions/gco.fish
  fish/functions/gcp.fish
  fish/functions/gdff.fish
  fish/functions/ggrep.fish
  fish/functions/glg.fish
  fish/functions/gls.fish
  fish/functions/gmrg.fish
  fish/functions/gpll.fish
  fish/functions/gpsh.fish
  fish/functions/grb.fish
  fish/functions/grbi.fish
  fish/functions/grm.fish
  fish/functions/grsto.fish
  fish/functions/grt.fish
  fish/functions/grv.fish
  fish/functions/gshow.fish
  fish/functions/gst.fish
  fish/functions/gstsh.fish
  fish/functions/gtag.fish
  fish/functions/gwhich.fish
Due: format-fish, remove-trailing-whitespace

Add disable flags to ding
  nix/nixpkgs/ntfy-me/ding.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Fix ssh.fish
  fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Remove cloudtop-tunnel
  systems/hephaistos/default.nix
  systems/hephaistos/fish/cloudtop-tunnel.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Integrate yazi and neovim
  nix/home.nix
  nix/nixpkgs/yazi/default.nix
  nix/nixpkgs/yazi/yazi-nvim-open.sh
  nvim/lua/options.lua
Due: flake-check, format-nix, format-lua, shellcheck, shfmt, remove-trailing-whitespace

Use homebrew containers package
  flake.lock
  flake.nix
  nix/homebrew.nix
  nix/nixpkgs/apple-containers.nix
  nix/platforms/darwin.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add citc helpers
  fish/functions/code.fish
  fish/functions/slugify.fish
  nix/nixpkgs/yazi/default.nix
  systems/zeus/default.nix
  systems/zeus/fish/cw.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Fix hg compatibility in gpsh and diffview
  fish/functions/gpsh.fish
  nvim/lua/plugins/diffview.lua
Due: format-lua, format-fish, remove-trailing-whitespace

Switch back to 30B model on herakles
  nix/nixpkgs/coder/config/opencode.json
  nix/nixpkgs/coder/default.nix
  systems/herakles/configuration.nix
  systems/herakles/run/services/llm-orchestrator/orchestrator.py
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Optimise for nix flake usage
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Lower qwen3 context length
  nix/nixpkgs/coder/config/opencode.json
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

hestia: add multi-PAN service
  nix/nixpkgs/openthread-border-router/module.nix
  nix/nixpkgs/openthread-border-router/package.nix
  systems/hestia/configuration.nix
  systems/hestia/run/services/silabs-multiprotocol/cpcd.nix
  systems/hestia/run/services/silabs-multiprotocol/default.nix
  systems/hestia/run/services/silabs-multiprotocol/zigbeed.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add markdown rendering plugin to neovim
  nvim/lua/plugins/render-markdown.lua
Due: format-lua, remove-trailing-whitespace

Use nix to manage my claude-code config
  .gitignore
  flake.nix
  nix/home.nix
  nix/nixpkgs/claude-code/CLAUDE.md
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/claude-code/package.nix
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

herakles: offload models when not in use
  nix/nixpkgs/coder/config/opencode.json
  systems/herakles/configuration.nix
  systems/herakles/run/services/llm-orchestrator/default.nix
  systems/herakles/run/services/llm-orchestrator/wait-and-sleep.sh
  systems/herakles/run/services/llm-proxy/default.nix
  systems/herakles/run/services/llm-proxy/proxy.py
Due: flake-check, format-nix, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace

Use gmosh on hephaistos
  systems/hephaistos/default.nix
  systems/hephaistos/fish/functions/ssh.fish
  systems/zeus/default.nix
  systems/zeus/fish/functions/cw.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Avoid shadowing Cmd+Shift+G in file explorer
  nix/platforms/darwin.nix
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Revert "hestia: add multi-PAN service"
  nix/nixpkgs/openthread-border-router/module.nix
  nix/nixpkgs/openthread-border-router/package.nix
  systems/hestia/configuration.nix
  systems/hestia/run/services/silabs-multiprotocol/cpcd.nix
  systems/hestia/run/services/silabs-multiprotocol/default.nix
  systems/hestia/run/services/silabs-multiprotocol/zigbeed.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Remove openthread-border-router service
  nix/nixpkgs/openthread-border-router/firewall-script.patch
  nix/nixpkgs/openthread-border-router/module.nix
  nix/nixpkgs/openthread-border-router/package.nix
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add angular lsp
  nvim/lua/plugins/coc.lua
Due: format-lua, remove-trailing-whitespace

Ensure pass is in the env for secrets
  flake.nix
  nix/nixpkgs/secrets/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace
