Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Clean up repo
  flake.lock
  flake.nix
  nix/nixpkgs/litellm-proxy/default.nix
  nix/nixpkgs/litellm-proxy/flake.nix
  nix/nixpkgs/llm-orchestrator/default.nix
  nix/nixpkgs/llm-server/README.md
  nix/nixpkgs/llm-server/flake.lock
  nix/nixpkgs/llm-server/flake.nix
  systems/hekate/configuration.nix
  systems/hekate/run/dashboard/components/status.go
  systems/hekate/run/dashboard/services/demo.go
  systems/hekate/run/services/dns-logs-server.nix
  systems/herakles/configuration.nix
  systems/herakles/default.nix
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

Update ssh config
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Don't exec fish when etserver is the parent
  fish/functions/ssh.fish
  nix/sh.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Swap out herakles model
  nix/nixpkgs/coder/config/config.yaml
  nix/nixpkgs/coder/default.nix
  nix/nixpkgs/llm-orchestrator/orchestrator.py
  systems/herakles/configuration.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Add filetype comments to build scripts
  systems/hekate/build/image
  systems/hermes/build/image
  systems/hestia/build/image
Due: remove-trailing-whitespace

Fix hekate build-image false failure on macOS
  systems/hekate/build/image
Due: remove-trailing-whitespace

Replace goose with opencode
  nix/nixpkgs/coder/config/.goosehints
  nix/nixpkgs/coder/config/config.yaml
  nix/nixpkgs/coder/config/opencode.json
  nix/nixpkgs/coder/default.nix
  nix/nixpkgs/coder/goose-prompt.patch
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Surface et error messages
  fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Update README
  README.md
Due: remove-trailing-whitespace

Update zeus fish config
  systems/zeus/default.nix
  systems/zeus/fish/google.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Align name
  .gitignore
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update zeus+hephaistos config
  fish/functions/ssh.fish
  systems/hephaistos/default.nix
  systems/hephaistos/fish/cloudtop-tunnel.fish
  systems/zeus/default.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add otbr daemon to hestia
  nix/nixpkgs/openthread-border-router/firewall-script.patch
  nix/nixpkgs/openthread-border-router/module.nix
  nix/nixpkgs/openthread-border-router/package.nix
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add yazi
  nix/fish.nix
  nix/home.nix
  nix/yazi.nix
  nvim/lua/plugins/yazi.lua
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Remove vim-rooter
  nvim/lua/plugins/vim-rooter.lua
Due: format-lua, remove-trailing-whitespace

Merge cat and icat
  fish/functions/cat.fish
  nix/fish.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add reasoning parser for qwen
  systems/herakles/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Co-locate herakles packages
  nix/nixpkgs/litellm-proxy/default.nix
  nix/nixpkgs/litellm-proxy/flake.nix
  nix/nixpkgs/llm-orchestrator/default.nix
  nix/nixpkgs/llm-orchestrator/flake.nix
  nix/nixpkgs/llm-orchestrator/model_manager.py
  nix/nixpkgs/llm-orchestrator/orchestrator.py
  systems/herakles/configuration.nix
  systems/herakles/run/services/fan-control/default.nix
  systems/herakles/run/services/fan-control/fan-control.sh
  systems/herakles/run/services/litellm-proxy/default.nix
  systems/herakles/run/services/litellm-proxy/flake.nix
  systems/herakles/run/services/llm-orchestrator/default.nix
  systems/herakles/run/services/llm-orchestrator/flake.nix
  systems/herakles/run/services/llm-orchestrator/model_manager.py
  systems/herakles/run/services/llm-orchestrator/orchestrator.py
Due: flake-check, format-nix, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace

chafa: Use flag instead of relying on TERM
  fish/functions/cat.fish
  systems/zeus/default.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Support mercurial
  fish/functions/_is_hg.fish
  fish/functions/gadd.fish
  fish/functions/gamd.fish
  fish/functions/gci.fish
  fish/functions/gco.fish
  fish/functions/gcp.fish
  fish/functions/gdff.fish
  fish/functions/ggrep.fish
  fish/functions/glg.fish
  fish/functions/gls.fish
  fish/functions/gmrg.fish
  fish/functions/gpll.fish
  fish/functions/gpsh.fish
  fish/functions/grb.fish
  fish/functions/grbi.fish
  fish/functions/grm.fish
  fish/functions/grsto.fish
  fish/functions/grt.fish
  fish/functions/grv.fish
  fish/functions/gshow.fish
  fish/functions/gst.fish
  fish/functions/gstsh.fish
  fish/functions/gtag.fish
  fish/functions/gwhich.fish
Due: format-fish, remove-trailing-whitespace
