Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, lint-typescript, organize-imports, bash-syntax, fish-syntax, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  lint-typescript: any of: ^systems/hekate/run/dashboard/webui/src/.*\.(ts|html)$
  organize-imports: any of: ^systems/hekate/run/dashboard/webui/src/.*\.ts$
  bash-syntax: any of: (\.(sh|bash)$|^bin/)
  fish-syntax: any of: \.fish$
  shellcheck: any of: (\.(sh|bash)$|^bin/)
  shfmt: any of: (\.(sh|bash)$|^bin/)
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$

Fix ankigen
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Add claude planning changes to all systems
  flake.nix
  nix/home.nix
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/claude-code/open-plan-in-nvim.sh
  nix/nixpkgs/claude-code/package.nix
  nvim/lua/utils/claude-plan.lua
  systems/hephaistos/default.nix
Due: flake-check, format-nix, format-lua, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Update bindings
  nix/platforms/darwin.nix
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use single footer for nvim
  nvim/lua/options.lua
Due: format-lua, remove-trailing-whitespace

Add justfile for packaging ag theme
  antigravity/pastel-gray-theme/justfile
Due: remove-trailing-whitespace

Update keybindings
  nix/platforms/darwin.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Run activate from anywhere in repo
  bin/activate
Due: bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Bump flake.lock
  flake.lock
Due: remove-trailing-whitespace

Updated claude-code planning
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/claude-code/open-plan-in-nvim.sh
Due: flake-check, format-nix, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Remove awrit
  nix/home.nix
  nix/nixpkgs/awrit/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Create workload-identity group
  .agents/skills/activate/SKILL.md
  .agents/skills/build-image/SKILL.md
  .agents/skills/deploy-infra/SKILL.md
  .agents/skills/hass/SKILL.md
  .agents/skills/hekate/SKILL.md
  .agents/skills/hermes/SKILL.md
  .agents/skills/secrets/SKILL.md
  .agents/skills/sops-edit/SKILL.md
  .claude/skills
  .sops.yaml
  infra/main.tofu
  infra/modules/hestia/main.tofu
  infra/modules/hestia/variables.tofu
  infra/modules/workload-identity/main.tofu
  infra/modules/workload-identity/outputs.tofu
  infra/modules/workload-identity/variables.tofu
  infra/outputs.tofu
  infra/variables.tofu
  justfile
  nix/nixpkgs/gcp-wif-token/default.nix
  nix/nixpkgs/gcp-wif-token/gcp-wif-token.py
  systems/hestia/configuration.nix
  systems/hestia/run/services/hass-backup/default.nix
  systems/hestia/secrets.yaml
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace, format-terraform

Post WIF change cleanup
  .agents/skills/hass/SKILL.md
  .agents/skills/wif/SKILL.md
  systems/hestia/README.md
  systems/hestia/run/services/hass-backup/utils.py
  systems/hestia/secrets.yaml
Due: ruff-check, ruff-format, remove-trailing-whitespace

Support a range of agents
  nix/home.nix
  nix/nixpkgs/agents-config/AGENTS.md
  nix/nixpkgs/agents-config/default.nix
  nix/nixpkgs/agents-config/skills/cli-tools/SKILL.md
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Gracefully degrade aliases
  fish/functions/cat.fish
  fish/functions/dig.fish
  nix/fish.nix
Due: flake-check, format-nix, format-fish, fish-syntax, remove-trailing-whitespace

Allow more non-destructive commands
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Instruct agents
  nix/nixpkgs/agents-config/AGENTS.md
Due: remove-trailing-whitespace

Show filename first in telescope
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Configure treesitter for html, css and scss
  nvim/lua/plugins/treesitter.lua
Due: format-lua, remove-trailing-whitespace

Rely on installed lsp plugins
  nvim/coc-extensions/frontend.json
  nvim/coc-settings.json
  nvim/lua/plugins/treesitter.lua
Due: format-lua, remove-trailing-whitespace

Add line numbers to telescope preview mode
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Make flake evaluation lazy
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace
