Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Always use spinner for Telescope
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Use fade animation for nvim-notify
  nvim/lua/plugins/nvim-notify.lua
Due: format-lua, remove-trailing-whitespace

Simplify gw command
  nix/home.nix
  systems/hekate/run/dashboard/backend/Makefile
  systems/hekate/run/dashboard/backend/justfile
  systems/zeus/default.nix
  systems/zeus/fish/functions/gw.fish
  systems/zeus/fish/gworkspaces/utils.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Tweak telescope spinner
  nvim/lua/plugins/fidget.lua
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Use floating windows for long messages in nvim
  nvim/lua/plugins/noice.lua
Due: format-lua, remove-trailing-whitespace

Use nice fonts on hephaistos
  flake.nix
  systems/hephaistos/configuration.nix
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Fix import path for workspace justfile
  systems/zeus/fish/functions/gw.fish
Due: format-fish, remove-trailing-whitespace

Wrap lines when using neovim as a pager
  fish/functions/cat.fish
Due: format-fish, remove-trailing-whitespace

Disable dashboard MRU
  nvim/lua/plugins/dashboard.lua
Due: format-lua, remove-trailing-whitespace

Persist open buffers
  fish/functions/cat.fish
  nvim/lua/bindings.lua
  nvim/lua/plugins/persistence.lua
Due: format-lua, format-fish, remove-trailing-whitespace

Update colorscheme
  fish/functions/fish_prompt.fish
  nix/bat.nix
  nix/btop.nix
  nix/colors.nix
  nix/fish.nix
  nix/git.nix
  nix/nixpkgs/yazi/default.nix
  nix/tmux.nix
  nvim/lua/options.lua
  nvim/lua/plugins/base16.lua
  nvim/lua/plugins/nord.lua
  nvim/lua/plugins/nvim-notify.lua
  tmux/.tmux.conf
Due: flake-check, format-nix, format-lua, format-fish, remove-trailing-whitespace

Ignore bloaty files
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Use readability flags when using nvim as manpager
  nix/fish.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add nvim mcp
  flake.lock
  flake.nix
  nix/colors.nix
  nix/nixpkgs/claude-code/default.nix
  nix/nixpkgs/nvim-mcp-connect/default.nix
  nix/nixpkgs/nvim-mcp-connect/nvim-mcp-connect.sh
  nix/nixpkgs/yazi/default.nix
  nix/nixpkgs/yazi/pastel-gray.tmTheme
  nix/tmux.nix
  nvim/lua/options.lua
  nvim/lua/plugins/base16.lua
  nvim/lua/plugins/diffview.lua
  nvim/lua/plugins/nvim-notify.lua
  tmux/.tmux.conf
Due: flake-check, format-nix, format-lua, shellcheck, shfmt, remove-trailing-whitespace

Fix claude-code nvim detection logic
  AGENTS.md
  docs/TMUX.md
  docs/wireguard.md
  nix/nixpkgs/claude-code/CLAUDE.md
  nix/nixpkgs/claude-code/default.nix
  nvim/lua/plugins/noice.lua
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Fix flake caching, simplify locking
  bin/activate
Due: remove-trailing-whitespace

Handle bad crypt key
  bin/activate
Due: remove-trailing-whitespace

Update binding
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add .mcp.json
  .gitignore
  .mcp.json
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Highlight syntax in READMEs
  nix/neovim.nix
  nvim/lua/plugins/render-markdown.lua
  nvim/lua/plugins/treesitter.lua
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace
