Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-files, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-files
        name: format files
        entry: bash
        language: system
        files: \.(nix|lua|fish)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style stylua fish --run 'fd -e nix -x nixfmt && stylua . && fd -e fish -x fish_indent -w'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Update tofu config
  infra/main.tofu
  infra/tofu.tfvars.example
  systems/hermes/hermes.tofu
Due: remove-trailing-whitespace, format-terraform

Extract common darwin config
  flake.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: format-files, remove-trailing-whitespace

Extract common nix configuration
  flake.nix
  nix/nix.conf
  systems/herakles/configuration.nix
  systems/hermes/configuration.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: format-files, remove-trailing-whitespace

Update hermes service units
  systems/hermes/configuration.nix
  systems/hermes/services/backups.nix
Due: format-files, remove-trailing-whitespace

Update AGENTS.md
  AGENTS.md
Due: remove-trailing-whitespace

Configure client credentials in authelia
  bin/build-and-deploy-hermes
  infra/.terraform.tfstate.lock.info
  systems/hermes/configuration.nix
  systems/hermes/ports.nix
  systems/hermes/services/authelia.nix
  systems/hermes/services/n8n-hooks.js
  systems/hermes/services/n8n-setup.py
  systems/hermes/services/n8n.nix
  systems/hermes/services/nginx.nix
  systems/hermes/services/ntfy.nix
  systems/hermes/static/index.html
Due: format-files, remove-trailing-whitespace

hermes: add basic auth for ntfy
  .gitignore
  infra/.terraform.tfstate.lock.info
  systems/hermes/services/authelia.nix
  systems/hermes/services/nginx.nix
Due: format-files, remove-trailing-whitespace

Update ping me to use private ntfy server
  fish/functions/ping-me.fish
Due: format-files, remove-trailing-whitespace

Implement auth in front of n8n and ntfy
  systems/hermes/configuration.nix
  systems/hermes/hermes.tofu
  systems/hermes/services/authelia.nix
  systems/hermes/services/backups.nix
  systems/hermes/services/n8n.nix
  systems/hermes/services/nginx.nix
  systems/hermes/services/ntfy.nix
Due: format-files, remove-trailing-whitespace

Update build script
  bin/build-and-deploy-hermes
  bin/build-gce-nixos-image.sh
Due: remove-trailing-whitespace

Update utilities
  fish/functions/gfx.fish
  fish/functions/ping-me.fish
Due: format-files, remove-trailing-whitespace

Use ntfy built-in auth
  systems/hermes/services/authelia.nix
  systems/hermes/services/n8n.nix
  systems/hermes/services/nginx.nix
  systems/hermes/services/ntfy.nix
Due: format-files, remove-trailing-whitespace

herakles: enable QEMU aarch64 emulation
  systems/herakles/configuration.nix
Due: format-files, remove-trailing-whitespace

darwin: add zstd
  nix/platforms/darwin.nix
Due: format-files, remove-trailing-whitespace

home.nix: add nmap
  nix/home.nix
Due: format-files, remove-trailing-whitespace

Add hekate system config
  AGENTS.md
  bin/build-hekate
  flake.nix
  systems/hekate/configuration.nix
Due: format-files, remove-trailing-whitespace

Rewrite deploy scripts
  .gitignore
  bin/activate
  bin/bootstrap.sh
  bin/build-and-deploy-hermes
  bin/build-gce-nixos-image.sh
  bin/build-hermes
  fish/functions/ping-me.fish
  flake.nix
  infra/variables.tofu
  lib/build-hekate.py
  lib/build-hermes.py
  lib/lib.sh
  lib/utils.py
  systems/hekate/configuration.nix
  systems/hermes/configuration.nix
  systems/hermes/hermes.tofu
  systems/hermes/ports.nix
  systems/hermes/services/mongodb.nix
  systems/hermes/services/nginx.nix
  systems/hermes/static/index.html
Due: format-files, remove-trailing-whitespace, format-terraform

Update ping-me
  fish/functions/ping-me.fish
Due: format-files, remove-trailing-whitespace

Allow sudo nopasswd on herakles
  systems/herakles/configuration.nix
Due: format-files, remove-trailing-whitespace
