Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Update AGENTS.md instructions
  AGENTS.md
Due: remove-trailing-whitespace

Add open_meteo to hass
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add gsend
  fish/functions/gsend.fish
Due: format-fish, remove-trailing-whitespace

Rename secretsmanager->secrets
  .gitignore
  fish/functions/gemini.fish
  fish/functions/qq.fish
  nix/home.nix
  nix/nixpkgs/ankigen/README.md
  nix/nixpkgs/ankigen/default.nix
  nix/nixpkgs/ankigen/main.go
  nix/nixpkgs/coder/default.nix
  nix/nixpkgs/secrets/default.nix
  nix/nixpkgs/secretsmanager/default.nix
Due: flake-check, format-nix, format-fish, format-go, lint-go, remove-trailing-whitespace

Add missing systemd relationship
  nix/nixpkgs/llm-server/flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Clean up repo
  bin/activate
  fish/functions/gemini.fish
  flake.nix
  nix/architectures/aarch64.nix
  nix/architectures/x86_64.nix
  nix/authorized-keys.nix
  nix/fish.nix
  nix/home.nix
  nix/lib/resolve-display.nix
  nix/nixpkgs/codex-cli/default.nix
  nix/nixpkgs/cursor-agent/default.nix
  nix/nixpkgs/llm-local/flake.lock
  nix/nixpkgs/llm-local/flake.nix
  nix/sh.nix
  nix/skhd.nix
  nvim/lua/bindings.lua
  nvim/lua/plugins/coc.lua
  nvim/lua/plugins/dashboard.lua
  nvim/lua/plugins/sessionmanager.lua
  nvim/lua/plugins/telescope.lua
  systems/hekate/configuration.nix
  systems/herakles/configuration.nix
  systems/hermes/configuration.nix
  systems/hestia/configuration.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: flake-check, format-nix, format-lua, format-fish, remove-trailing-whitespace

Don't nest tmux
  fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Make secrets more secure
  lib/build-hekate.py
  lib/build-hestia.py
  lib/utils.py
  nix/fish.nix
  nix/nixpkgs/secrets/default.nix
  nix/platforms/linux.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Fix DNS on hekate
  lib/build-hekate.py
  systems/hekate/configuration.nix
  systems/hekate/hekate-dashboard/default.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Show flashing progress
  lib/build-hekate.py
  lib/build-hestia.py
  lib/utils.py
  systems/hekate/configuration.nix
  systems/hekate/hekate-dashboard/components/health.go
  systems/hekate/hekate-dashboard/components/status.go
Due: flake-check, format-nix, format-go, lint-go, ruff-check, ruff-format, remove-trailing-whitespace

Remove redundant function
  fish/functions/icat.fish
  nix/fish.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add image in markdown support to nvim
  nix/home.nix
  nvim/lua/plugins/image.lua
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Add awrit to nixpkgs
  nix/home.nix
  nix/nixpkgs/awrit/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Tidy tmux config
  tmux/.tmux.conf
Due: remove-trailing-whitespace

Reconfigure build scripts
  bin/build-hekate
  bin/build-hermes
  bin/build-hestia
  bin/build-image
  systems/hekate/build-image.py
  systems/hermes/build-image.py
  systems/hestia/build-image.py
Due: ruff-check, ruff-format, remove-trailing-whitespace

Remap command to avoid collisions
  nvim/lua/plugins/coc.lua
Due: format-lua, remove-trailing-whitespace

Clean up
  README.md
  lib/allow_darwin_rebuild
  nvim/faq.md
Due: remove-trailing-whitespace

Enhance secrets cli
  nix/nixpkgs/secrets/default.nix
  nix/nixpkgs/secrets/schemas/v1.json
  nix/nixpkgs/secrets/schemas/v2.json
  nix/nixpkgs/secrets/secrets.sh
  nix/nixpkgs/secrets/test.py
Due: flake-check, format-nix, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace

Unified notification system using ntfy.sh and secrets CLI
  AGENTS.md
  fish/functions/ntfy-me.fish
  nix/home.nix
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
  nix/nixpkgs/ntfy-me/ntfy-me.sh
  nix/nixpkgs/secrets/secrets.sh
  nix/platforms/darwin.nix
Due: flake-check, format-nix, format-fish, shellcheck, shfmt, remove-trailing-whitespace

Improve ding alerting
  AGENTS.md
  nix/nixpkgs/ntfy-me/ding.sh
  nix/tmux.nix
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace
