Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck --run 'find . -name "*.sh" -o -name "*.bash" | xargs shellcheck'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

format-terraform:
  name: format terraform
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p opentofu --run "cd infra && tofu fmt"

Remove legacy dashboard
  systems/hekate/run/dashboard/components/dns.go
  systems/hekate/run/dashboard/components/firewall.go
  systems/hekate/run/dashboard/components/health.go
  systems/hekate/run/dashboard/components/network.go
  systems/hekate/run/dashboard/components/search.go
  systems/hekate/run/dashboard/components/ssh.go
  systems/hekate/run/dashboard/components/status.go
  systems/hekate/run/dashboard/components/time.go
  systems/hekate/run/dashboard/components/wireguard.go
  systems/hekate/run/dashboard/default.nix
  systems/hekate/run/dashboard/go.mod
  systems/hekate/run/dashboard/go.sum
  systems/hekate/run/dashboard/main.go
  systems/hekate/run/dashboard/services/demo.go
  systems/hekate/run/dashboard/services/demo_stub.go
  systems/hekate/run/dashboard/services/dns.go
  systems/hekate/run/dashboard/services/firewall.go
  systems/hekate/run/dashboard/services/health.go
  systems/hekate/run/dashboard/services/logs.go
  systems/hekate/run/dashboard/services/network.go
  systems/hekate/run/dashboard/services/systemd.go
  systems/hekate/run/dashboard/services/wireguard.go
  systems/hekate/run/dashboard/services/wireguard_test.go
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

hekate web ui - use correct backend url
  flake.nix
  nix/nixpkgs/ankigen/main.go
  nix/nixpkgs/semsearch/semsearch/embed.go
  systems/hekate/configuration.nix
  systems/hekate/default.nix
  systems/hekate/run/dashboard/backend/handlers/handlers.go
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

Add log component
  systems/hekate/run/dashboard/backend/main.go
  systems/hekate/run/dashboard/frontend/angular.json
  systems/hekate/run/dashboard/frontend/proxy.conf.json
  systems/hekate/run/dashboard/frontend/src/app/app.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/app.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/log-entry.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/logs-viewer.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/logs-viewer.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ts
  systems/hekate/run/dashboard/frontend/src/app/directives/log-highlight.directive.ts
  systems/hekate/run/dashboard/tui/components/search.go
Due: format-go, lint-go, remove-trailing-whitespace

Update README for hekate dashboard
  systems/hekate/run/dashboard/README.md
Due: remove-trailing-whitespace

Rename frontend -> webui
  systems/hekate/run/dashboard/README.md
  systems/hekate/run/dashboard/frontend/default.nix
  systems/hekate/run/dashboard/frontend/package.json
  systems/hekate/run/dashboard/service.nix
  systems/hekate/run/dashboard/webui/angular.json
  systems/hekate/run/dashboard/webui/default.nix
  systems/hekate/run/dashboard/webui/eslint.config.js
  systems/hekate/run/dashboard/webui/package.json
  systems/hekate/run/dashboard/webui/pnpm-lock.yaml
  systems/hekate/run/dashboard/webui/proxy.conf.json
  systems/hekate/run/dashboard/webui/src/app/app.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/app.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/health.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/health.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/log-entry.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/logs-viewer.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/logs-viewer.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/logs.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/network.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/network.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/status.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/status.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/time.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/time.component.ts
  systems/hekate/run/dashboard/webui/src/app/components/wireguard.component.ng.html
  systems/hekate/run/dashboard/webui/src/app/components/wireguard.component.ts
  systems/hekate/run/dashboard/webui/src/app/directives/log-highlight.directive.ts
  systems/hekate/run/dashboard/webui/src/app/services/api.service.ts
  systems/hekate/run/dashboard/webui/src/index.html
  systems/hekate/run/dashboard/webui/src/main.ts
  systems/hekate/run/dashboard/webui/src/styles.scss
  systems/hekate/run/dashboard/webui/tailwind.config.js
  systems/hekate/run/dashboard/webui/tsconfig.app.json
  systems/hekate/run/dashboard/webui/tsconfig.json
Due: flake-check, format-nix, remove-trailing-whitespace

Use sops
  .sops.yaml
  systems/hekate/configuration.nix
  systems/hekate/secrets.yaml
Due: flake-check, format-nix, remove-trailing-whitespace

Update AGENTS.md
  AGENTS.md
Due: remove-trailing-whitespace

Restore change_directory function
  nix/fish.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use make binary wrapper to report correct name for ankigen
  nix/nixpkgs/ankigen/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update ignored files
  .gitignore
Due: remove-trailing-whitespace

Extract component templates
  systems/hekate/run/dashboard/frontend/src/app/app.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/app.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/health.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/health.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/network.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/network.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/status.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/status.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/time.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/time.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/wireguard.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/wireguard.component.ts
Due: remove-trailing-whitespace

Improve styles
  .gitignore
  systems/hekate/run/dashboard/frontend/angular.json
  systems/hekate/run/dashboard/frontend/package.json
  systems/hekate/run/dashboard/frontend/pnpm-lock.yaml
  systems/hekate/run/dashboard/frontend/src/app/app.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/health.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/network.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/status.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/time.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/wireguard.component.ng.html
  systems/hekate/run/dashboard/frontend/src/index.html
  systems/hekate/run/dashboard/frontend/src/styles.scss
  systems/hekate/run/dashboard/frontend/tailwind.config.js
Due: remove-trailing-whitespace

Add linting for ts
  .pre-commit-config.yaml
  systems/hekate/run/dashboard/frontend/angular.json
  systems/hekate/run/dashboard/frontend/eslint.config.js
  systems/hekate/run/dashboard/frontend/package.json
  systems/hekate/run/dashboard/frontend/pnpm-lock.yaml
Due: remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
