Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, lint-typescript, organize-imports, bash-syntax, fish-syntax, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  lint-typescript: any of: ^systems/hekate/run/dashboard/webui/src/.*\.(ts|html)$
  organize-imports: any of: ^systems/hekate/run/dashboard/webui/src/.*\.ts$
  bash-syntax: any of: (\.(sh|bash)$|^bin/)
  fish-syntax: any of: \.fish$
  shellcheck: any of: (\.(sh|bash)$|^bin/)
  shfmt: any of: (\.(sh|bash)$|^bin/)
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$

Consolidate and update styles
  fish/functions/fish_prompt.fish
  fish/functions/fish_right_prompt.fish
  nix/bat.nix
  nix/btop.nix
  nix/colors.nix
  nix/fish.nix
  nix/git.nix
  nix/neovim.nix
  nix/nixpkgs/claude-code/settings.nix
  nix/nixpkgs/yazi/default.nix
  nix/nixpkgs/yazi/pastel-gray.tmTheme
  nix/tmux.nix
  nvim/lua/options.lua
  nvim/lua/plugins/airline.lua
  nvim/lua/plugins/base16.lua
  nvim/lua/plugins/fidget.lua
  nvim/lua/plugins/noice.lua
  nvim/lua/plugins/nvim-notify.lua
  nvim/lua/plugins/telescope.lua
  systems/hephaistos/fish/functions/ssh.fish
Due: flake-check, format-nix, format-lua, format-fish, fish-syntax, remove-trailing-whitespace

Update pastel-gray theme
  antigravity/pastel-gray-theme/README.md
  antigravity/pastel-gray-theme/themes/pastel-gray.json
Due: remove-trailing-whitespace

Update layouts
  fish/functions/code.fish
  nix/fish.nix
  nix/nixpkgs/yazi/default.nix
Due: flake-check, format-nix, format-fish, fish-syntax, remove-trailing-whitespace

Update hammerspoon binding
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Disable claudecode on zeus
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Tweak fidget spinner
  nvim/lua/plugins/fidget.lua
  nvim/lua/plugins/telescope.lua
Due: format-lua, remove-trailing-whitespace

Update airline colors
  nvim/lua/bindings.lua
  nvim/lua/plugins/airline.lua
Due: format-lua, remove-trailing-whitespace

Use pubsub for ntfy-me
  infra/modules/ntfy-pubsub/functions/ntfy-forwarder/src/index.ts
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/ntfy-me/ntfy-me.sh
Due: flake-check, format-nix, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Use ntfy pubsub
  nix/nixpkgs/cve-scanner/default.nix
  nix/nixpkgs/cve-scanner/main.py
  nix/nixpkgs/cve-scanner/notifiers.py
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Add projector component to hass
  systems/hestia/configuration.nix
  systems/hestia/lib/hass/custom_components/benq_tk700/__init__.py
  systems/hestia/lib/hass/custom_components/benq_tk700/api.py
  systems/hestia/lib/hass/custom_components/benq_tk700/config_flow.py
  systems/hestia/lib/hass/custom_components/benq_tk700/const.py
  systems/hestia/lib/hass/custom_components/benq_tk700/manifest.json
  systems/hestia/lib/hass/custom_components/benq_tk700/media_player.py
  systems/hestia/lib/hass/custom_components/benq_tk700/strings.json
  systems/hestia/lib/hass/custom_components/benq_tk700/translations/en.json
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Fix cve scanner ntfy sending
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use pubsub for hass backup ntfy not HTTP
  infra/modules/hestia/main.tofu
  systems/hestia/run/services/hass-backup/default.nix
  systems/hestia/run/services/hass-backup/utils.py
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace, format-terraform

Fix override for claudecode.nvim on zeus
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Ensure claude retains context after compaction
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Only kill window if it actually exists
  systems/zeus/fish/functions/gw.fish
Due: format-fish, fish-syntax, remove-trailing-whitespace

Add syntax hi for .pi
  nvim/init.lua
  systems/zeus/default.nix
Due: flake-check, format-nix, format-lua, remove-trailing-whitespace

Fix kwarg collision
  systems/hestia/run/services/hass-backup/utils.py
Due: ruff-check, ruff-format, remove-trailing-whitespace

Add missing file def
  nvim/lua/filetypes.lua
Due: format-lua, remove-trailing-whitespace

Show fidget spinner for slow diffview open
  nvim/lua/plugins/diffview.lua
  nvim/lua/plugins/fidget.lua
Due: format-lua, remove-trailing-whitespace

Use resume flag with gemini
  fish/functions/code.fish
Due: format-fish, fish-syntax, remove-trailing-whitespace

Replace isFrontend -> isDev
  bin/activate
  bin/deploy-infra
  flake.nix
  nix/home.nix
  nix/nixpkgs/ntfy-me/default.nix
  systems/hekate/run/services/ssh-logger.nix
  systems/hephaistos/default.nix
  systems/herakles/run/services/fan-control/default.nix
  systems/herakles/run/services/llm-orchestrator/default.nix
  systems/hermes/run/services/authelia.nix
  systems/iris/default.nix
  systems/pallas/default.nix
Due: flake-check, format-nix, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace
