Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck --run 'find . -name "*.sh" -o -name "*.bash" | xargs shellcheck'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

format-terraform:
  name: format terraform
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p opentofu --run "cd infra && tofu fmt"

Modernise and improve portability
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  bin/activate
  bin/bootstrap
  fish/functions/pynix.fish
  fish/functions/ssh.fish
  nix/nixpkgs/llm-local/flake.nix
  setup
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add hephaistos configuration
  bin/activate
  flake.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add encryption
  .gitattributes
  README.md
  bin/activate
  flake.nix
  nix/home.nix
  systems/hekate/build/image
  systems/hekate/configuration.nix
  systems/hekate/run/dashboard/README.md
  systems/hekate/run/dashboard/components/dns.go
  systems/hekate/run/dashboard/components/firewall.go
  systems/hekate/run/dashboard/components/health.go
  systems/hekate/run/dashboard/components/network.go
  systems/hekate/run/dashboard/components/search.go
  systems/hekate/run/dashboard/components/ssh.go
  systems/hekate/run/dashboard/components/status.go
  systems/hekate/run/dashboard/components/time.go
  systems/hekate/run/dashboard/components/wireguard.go
  systems/hekate/run/dashboard/default.nix
  systems/hekate/run/dashboard/go.mod
  systems/hekate/run/dashboard/go.sum
  systems/hekate/run/dashboard/main.go
  systems/hekate/run/dashboard/services/demo.go
  systems/hekate/run/dashboard/services/demo_stub.go
  systems/hekate/run/dashboard/services/dns.go
  systems/hekate/run/dashboard/services/firewall.go
  systems/hekate/run/dashboard/services/health.go
  systems/hekate/run/dashboard/services/logs.go
  systems/hekate/run/dashboard/services/network.go
  systems/hekate/run/dashboard/services/systemd.go
  systems/hekate/run/dashboard/services/wireguard.go
  systems/hekate/run/dashboard/services/wireguard_test.go
  systems/hekate/run/services/dns-logs-server.nix
  systems/hekate/run/services/firewall-logs-server.nix
  systems/hekate/run/services/health-status-server.nix
  systems/hekate/run/services/ssh-logger.nix
  systems/hekate/run/services/wg-status-server.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

Encrypt hermes too
  .gitattributes
  README.md
  systems/hermes/build/image
  systems/hermes/configuration.nix
  systems/hermes/hardware-configuration.nix
  systems/hermes/infra/hermes.tofu
  systems/hermes/infra/outputs.tofu
  systems/hermes/infra/variables.tofu
  systems/hermes/run/ports.nix
  systems/hermes/run/services/authelia.nix
  systems/hermes/run/services/fail2ban.nix
  systems/hermes/run/services/mongodb.nix
  systems/hermes/run/services/n8n.nix
  systems/hermes/run/services/nginx.nix
  systems/hermes/run/services/ntfy.nix
  systems/hermes/static/index.html
  systems/hermes/static/tailwind.min.js
Due: flake-check, format-nix, remove-trailing-whitespace

Encrypt all systems
  .gitattributes
  systems/herakles/configuration.nix
  systems/herakles/hardware-configuration.nix
  systems/hestia/build/image
  systems/hestia/configuration.nix
  systems/hestia/run/services/nginx.nix
  systems/hestia/run/services/tk700-dashboard.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use latest versions of bash and zsh
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add sudoers config to iris
  systems/iris/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add trace logging
  bin/activate
  nix/nixpkgs/shellutils/logging-utils.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Clean up system config
  .pre-commit-config.yaml
  bin/activate
  flake.nix
  nix/nixpkgs/shellutils/default.nix
  nix/nixpkgs/shellutils/logging-utils.sh
  systems/hekate/configuration.nix
  systems/hephaistos/configuration.nix
  systems/herakles/configuration.nix
  systems/hermes/configuration.nix
  systems/hestia/configuration.nix
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace

Use hostname_override
  bin/activate
  flake.nix
  nix/fish.nix
Due: flake-check, format-nix, remove-trailing-whitespace

fish: fix ssh wrapper syntax error
  fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Remove unhelpful instruction from AGENTS.md
  AGENTS.md
Due: remove-trailing-whitespace

Don't override already set fish_prompt_prefix
  nix/fish.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Replace yabai/skhd with hammerspoon
  flake.nix
  nix/home.nix
  nix/platforms/darwin.nix
  nix/skhd.nix
  nix/yabai.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

activate: Always log debug to file/journal
  nix/nixpkgs/shellutils/logging-utils.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Add ares
  bin/activate
  flake.nix
  systems/ares/configuration.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Simplify using mkSystem
  bin/activate
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add bat to common packages
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Rename ares->zeus
  flake.nix
  systems/zeus/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Ensure nix-profile is on fish_path
  nix/fish.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update keybindings
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
