Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck --run 'find . -name "*.sh" -o -name "*.bash" | xargs shellcheck'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

format-terraform:
  name: format terraform
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p opentofu --run "cd infra && tofu fmt"

Track currently activated hash
  .pre-commit-config.yaml
  bin/activate
Due: remove-trailing-whitespace

Add checks for bash|zsh|fish to pre-commit
  .pre-commit-config.yaml
Due: remove-trailing-whitespace

Add show subcommand
  bin/activate
Due: remove-trailing-whitespace

Fix context for worktree activation
  bin/activate
Due: remove-trailing-whitespace

Clean up activate script
  bin/activate
Due: remove-trailing-whitespace

Add iterate option for anki card generation
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Make main default for activate; add --local
  bin/activate
  lib/lib.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

coder: fix missing export of api key
  nix/nixpkgs/coder/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

fixup! Clean up activate script
  bin/activate
Due: remove-trailing-whitespace

Clean up activate script
  .pre-commit-config.yaml
  AGENTS.md
  bin/activate
  bin/build-gce-nixos-image.sh
  lib/lib.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Hush ET and ssh
  fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Replace jump to terminal binding
  nix/skhd.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Fix activate path on deploy command
  bin/activate
Due: remove-trailing-whitespace

Handle `deploy all` run from managed server
  bin/activate
Due: remove-trailing-whitespace

Resolve .home addresses on pallas
  systems/pallas/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add software planning tool to coder
  nix/nixpkgs/coder/config/.goosehints
  nix/nixpkgs/coder/config/config.yaml
Due: remove-trailing-whitespace

Fix missing static path on hass
  systems/hestia/services/nginx.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Remove deprecated setting from hass
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add glass theme to hass
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add octopus_energy integration to hass
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update AGENTS.md instructions
  AGENTS.md
Due: remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
