Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, lint-typescript, organize-imports, bash-syntax, fish-syntax, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix --extra-experimental-features 'nix-command flakes' flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

lint-typescript:
  name: lint typescript
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - cd systems/hekate/run/dashboard/webui && pnpm run lint

organize-imports:
  name: organize typescript imports
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - cd systems/hekate/run/dashboard/webui && pnpm dlx organize-imports-cli src/app/**/*.ts

bash-syntax:
  name: bash syntax check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd --run 'fd -e sh -e bash -E worktrees -x bash -n && for f in bin/activate bin/bootstrap; do [ -f "$f" ] && bash -n "$f"; done'

fish-syntax:
  name: fish syntax check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish --no-execute'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck fd --run 'fd -e sh -e bash -E worktrees | xargs -r shellcheck; shellcheck bin/activate bin/bootstrap'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt fd --run 'shfmt -w -i 4 -ci $(fd -e sh -e bash -E worktrees) bin/activate bin/bootstrap'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | grep -vE "\.(png|ico|jpg|jpeg|gif|webp|woff|woff2|ttf|eot|pdf)$" | xargs -r sed -i "s/[[:space:]]*$//"'

Replace isFrontend -> isDev
  bin/activate
  bin/deploy-infra
  flake.nix
  nix/home.nix
  nix/nixpkgs/ntfy-me/default.nix
  systems/hekate/run/services/ssh-logger.nix
  systems/hephaistos/default.nix
  systems/herakles/run/services/fan-control/default.nix
  systems/herakles/run/services/llm-orchestrator/default.nix
  systems/hermes/run/services/authelia.nix
  systems/iris/default.nix
  systems/pallas/default.nix
Due: flake-check, format-nix, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Fix work system packages
  systems/hephaistos/default.nix
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Ensure git-crypt is everywhere
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update ankigen
  nix/nixpkgs/ankigen/default.nix
  nix/nixpkgs/ankigen/main.go
Due: flake-check, format-nix, format-go, lint-go, remove-trailing-whitespace

Remove n8n
  systems/hermes/configuration.nix
  systems/hermes/run/ports.nix
  systems/hermes/run/services/authelia.nix
  systems/hermes/run/services/cloud-logging.nix
  systems/hermes/run/services/cve-scanner/watchlist.nix
  systems/hermes/run/services/n8n.nix
  systems/hermes/run/services/nginx.nix
  systems/hermes/static/index.html
Due: flake-check, format-nix, remove-trailing-whitespace

Update binding
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Open yazi files in leftmost, non-terminal buffer
  nix/nixpkgs/yazi/yazi-nvim.sh
Due: bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Add shell hooks for direnv
  nix/home.nix
  systems/hephaistos/default.nix
  systems/zeus/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Whitelist read-only MCP tools
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Auto enter terminal mode
  nvim/lua/options.lua
Due: format-lua, remove-trailing-whitespace

Update Diffview
  nvim/lua/plugins/diffview.lua
Due: format-lua, remove-trailing-whitespace

Remove yazi preview column
  nix/nixpkgs/yazi/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Remove nvim fillchars
  nvim/lua/options.lua
Due: format-lua, remove-trailing-whitespace

Create stub gmail notifier
  AGENTS.md
  infra/main.tofu
  infra/modules/gmail-dispatcher/README.md
  infra/modules/gmail-dispatcher/functions/gmail-dispatcher/package.json
  infra/modules/gmail-dispatcher/functions/gmail-dispatcher/src/index.ts
  infra/modules/gmail-dispatcher/functions/gmail-dispatcher/tsconfig.json
  infra/modules/gmail-dispatcher/main.tofu
  infra/modules/gmail-dispatcher/outputs.tofu
  infra/modules/gmail-dispatcher/scripts/gmail-watch.sh
  infra/modules/gmail-dispatcher/variables.tofu
Due: bash-syntax, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

Add claude skills
  .claude/skills/activate/SKILL.md
  .claude/skills/build-image/SKILL.md
  .claude/skills/deploy-infra/SKILL.md
  .claude/skills/hass/SKILL.md
  .claude/skills/hekate/SKILL.md
  .claude/skills/hermes/SKILL.md
  .claude/skills/secrets/SKILL.md
  AGENTS.md
Due: remove-trailing-whitespace

Add agent loop for ankigen
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Support secrets from stdin
  nix/nixpkgs/secrets/default.nix
  nix/nixpkgs/secrets/secrets/cli.py
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Add gw hook
  systems/zeus/fish/functions/gw.fish
Due: format-fish, fish-syntax, remove-trailing-whitespace

Update default code editor
  systems/hephaistos/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Open claude plan in neovim
  nix/nixpkgs/claude-code/open-plan-in-nvim.sh
  nix/nixpkgs/claude-code/package.nix
  nvim/lua/plugins/claudecode.lua
  nvim/lua/utils/claude-plan.lua
Due: flake-check, format-nix, format-lua, bash-syntax, shellcheck, shfmt, remove-trailing-whitespace

Fix ankigen
  nix/nixpkgs/ankigen/main.go
Due: format-go, lint-go, remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  lint-typescript: any of: ^systems/hekate/run/dashboard/webui/src/.*\.(ts|html)$
  organize-imports: any of: ^systems/hekate/run/dashboard/webui/src/.*\.ts$
  bash-syntax: any of: (\.(sh|bash)$|^bin/)
  fish-syntax: any of: \.fish$
  shellcheck: any of: (\.(sh|bash)$|^bin/)
  shfmt: any of: (\.(sh|bash)$|^bin/)
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
