Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

homebrew: zap removed brews
  nix/homebrew.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add encrypted backup/restore system for hestia
  .sops.yaml
  flake.lock
  flake.nix
  nix/nixpkgs/derive-age-key/default.nix
  nix/nixpkgs/derive-age-key/derive-age-key.py
  systems/hestia/configuration.nix
  systems/hestia/default.nix
  systems/hestia/run/services/hass-backup/backup.py
  systems/hestia/run/services/hass-backup/default.nix
  systems/hestia/run/services/hass-backup/restore.py
  systems/hestia/run/services/hass-backup/utils.py
  systems/hestia/secrets.yaml
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Validate priority in ntfy-me
  nix/nixpkgs/ntfy-me/ntfy-me.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

hass: add more themes
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Prune themes
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update workflow command
  .github/workflows/build.yml
Due: remove-trailing-whitespace

Update AGENTS.md
  AGENTS.md
Due: remove-trailing-whitespace

Remove unnecessary config
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add neovim cd command to yazi
  nix/nixpkgs/yazi/default.nix
  nix/nixpkgs/yazi/yazi-nvim-open.sh
  nix/nixpkgs/yazi/yazi-nvim.sh
  nvim/lua/bindings.lua
  nvim/lua/plugins/dashboard.lua
Due: flake-check, format-nix, format-lua, shellcheck, shfmt, remove-trailing-whitespace

Create gworkspace tools
  systems/zeus/default.nix
  systems/zeus/fish/functions/cw.fish
  systems/zeus/fish/functions/gw.fish
  systems/zeus/fish/gworkspaces/utils.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add gum to home packages
  nix/home.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Make small QoL fixes to some of my tooling
  fish/functions/dotfiles-activate.fish
  systems/hephaistos/fish/functions/ssh.fish
  systems/zeus/default.nix
  systems/zeus/fish/functions/gw.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Use cider lsp
  nix/home.nix
  systems/hephaistos/default.nix
  systems/zeus/default.nix
  systems/zeus/nvim/coc-settings.json
Due: flake-check, format-nix, remove-trailing-whitespace

Remove competing typescript lsp
  nvim/lua/plugins/typescript-vim.lua
Due: format-lua, remove-trailing-whitespace

Fix initial activate deploy command
  bin/activate
Due: remove-trailing-whitespace

Update .gitignore
  .gitignore
Due: remove-trailing-whitespace

Remove unnecessary wrapper
  nix/nixpkgs/ankigen/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use make binary wrapper to report correct name for ankigen
  nix/nixpkgs/ankigen/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Improve styles
  .gitignore
  systems/hekate/run/dashboard/frontend/angular.json
  systems/hekate/run/dashboard/frontend/package.json
  systems/hekate/run/dashboard/frontend/pnpm-lock.yaml
  systems/hekate/run/dashboard/frontend/src/app/app.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/health.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/network.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/status.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/time.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/wireguard.component.ng.html
  systems/hekate/run/dashboard/frontend/src/index.html
  systems/hekate/run/dashboard/frontend/src/styles.scss
  systems/hekate/run/dashboard/frontend/tailwind.config.js
Due: remove-trailing-whitespace

Update ignored files
  .gitignore
Due: remove-trailing-whitespace

Add linting for ts
  .pre-commit-config.yaml
  systems/hekate/run/dashboard/frontend/angular.json
  systems/hekate/run/dashboard/frontend/eslint.config.js
  systems/hekate/run/dashboard/frontend/package.json
  systems/hekate/run/dashboard/frontend/pnpm-lock.yaml
Due: remove-trailing-whitespace

Extract component templates
  systems/hekate/run/dashboard/frontend/src/app/app.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/app.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/health.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/health.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/logs.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/network.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/network.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/status.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/status.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/time.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/time.component.ts
  systems/hekate/run/dashboard/frontend/src/app/components/wireguard.component.ng.html
  systems/hekate/run/dashboard/frontend/src/app/components/wireguard.component.ts
Due: remove-trailing-whitespace
