Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake-check
        name: validate flake
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix flake show --no-write-lock-file &>/dev/null"
      - id: format-nix
        name: format nix files
        entry: bash
        language: system
        files: \.nix$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'"
      - id: format-lua
        name: format lua files
        entry: bash
        language: system
        files: \.lua$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p stylua --run 'stylua .'"
      - id: format-fish
        name: format fish files
        entry: bash
        language: system
        files: \.fish$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'"
      - id: format-go
        name: format go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go --run 'fd -e go -x gofmt -w'"
      - id: lint-go
        name: lint go files
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'"
      - id: ruff-check
        name: ruff check
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff check --fix .'"
      - id: ruff-format
        name: ruff format
        entry: bash
        language: system
        files: \.py$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p ruff --run 'ruff format .'"
      - id: shellcheck
        name: shellcheck
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shellcheck --run 'find . -name \"*.sh\" -o -name \"*.bash\" | xargs shellcheck'"
      - id: shfmt
        name: shfmt
        entry: bash
        language: system
        files: \.(sh|bash)$
        pass_filenames: false
        args:
          - -c
          - "nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'"
      - id: remove-trailing-whitespace
        name: remove trailing whitespace
        entry: bash
        language: system
        files: .*
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p gnused --run ''git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'''
      - id: format-terraform
        name: format terraform
        entry: bash
        language: system
        files: ^infra/.*\.tofu$
        pass_filenames: false
        args:
          - -c
          - 'nix-shell -p opentofu --run "cd infra && tofu fmt"'
      - id: delete-merged-branches
        name: delete merged branches on main
        entry: bash
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout, post-rewrite]
        args:
          - -c
          - 'if [ "$(git branch --show-current)" = "main" ]; then git branch --merged main | grep -v main | xargs -r git branch -d; fi'

Ensure pass is in the env for secrets
  flake.nix
  nix/nixpkgs/secrets/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use tmux by default iff it's available
  fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Add debug flag to secrets
  nix/nixpkgs/secrets/default.nix
  nix/nixpkgs/secrets/secrets/cli.py
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Check for ghostty
  fish/functions/ssh.fish
  systems/iris/configuration.nix
  systems/pallas/configuration.nix
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add CI check
  .github/workflows/build.yml
Due: remove-trailing-whitespace

Add CVE scanner tool
  flake.lock
  flake.nix
  nix/nixpkgs/cve-scanner/default.nix
  nix/nixpkgs/cve-scanner/main.py
  nix/nixpkgs/cve-scanner/notifiers.py
  nix/nixpkgs/cve-scanner/scanner.py
  nix/nixpkgs/cve-scanner/utils.py
  nix/nixpkgs/secrets/default.nix
  systems/hermes/configuration.nix
  systems/hermes/run/services/cve-scanner/auth.py
  systems/hermes/run/services/cve-scanner/default.nix
  systems/hermes/run/services/cve-scanner/scan_pkgs.sh
  systems/hermes/run/services/cve-scanner/send_digest.sh
  systems/hermes/run/services/cve-scanner/watchlist.nix
Due: flake-check, format-nix, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace

Update documentation
  AGENTS.md
  README.md
  flake.nix
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Finish cve-scanner
  flake.lock
  flake.nix
  nix/nixpkgs/cve-scanner/default.nix
  nix/nixpkgs/cve-scanner/digest.py
  nix/nixpkgs/cve-scanner/main.py
  nix/nixpkgs/cve-scanner/notifiers.py
  nix/nixpkgs/cve-scanner/scanner.py
  nix/nixpkgs/cve-scanner/static/cve.html
  nix/nixpkgs/cve-scanner/static/digest.html
  nix/nixpkgs/cve-scanner/static/email.html
  nix/nixpkgs/cve-scanner/static/email_row.html
  nix/nixpkgs/cve-scanner/utils.py
  nix/nixpkgs/secrets/default.nix
  systems/hermes/run/services/cve-scanner/default.nix
  systems/hermes/run/services/cve-scanner/scan_pkgs.sh
  systems/hermes/run/services/cve-scanner/send_digest.sh
Due: flake-check, format-nix, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace

Add zigbee2mqtt and otbr-agent to hestia
  systems/hestia/configuration.nix
  systems/hestia/run/services/nginx.nix
  systems/hestia/run/services/otbr-agent/default.nix
  systems/hestia/run/services/otbr-agent/package.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use gcs backend for tofu state
  infra/main.tofu
Due: remove-trailing-whitespace, format-terraform

Redirect unmatched paths to /hass
  systems/hestia/run/services/nginx.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Allow otbr-agent to publish to avahi
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Avoid race conditions
  systems/hestia/configuration.nix
  systems/hestia/run/services/otbr-agent/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add matter to hass
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Preload themes in hass
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Add matter server to hestia
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Drop pre-loading for HASS themes
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Fix config directory on cve scanner
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update hestia config
  nix/nixpkgs/ankigen/default.nix
  systems/hestia/configuration.nix
  systems/hestia/run/services/nginx.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update hermes config
  nix/homebrew.nix
  nix/nixpkgs/cve-scanner/default.nix
  nix/nixpkgs/cve-scanner/digest.py
  nix/nixpkgs/cve-scanner/main.py
  nix/nixpkgs/cve-scanner/notifiers.py
  nix/nixpkgs/cve-scanner/repo.py
  nix/nixpkgs/cve-scanner/scanner.py
  nix/nixpkgs/cve-scanner/static/cve.html
  nix/nixpkgs/cve-scanner/static/digest.html
  nix/nixpkgs/cve-scanner/static/email.html
  nix/nixpkgs/cve-scanner/static/email_row.html
  systems/hermes/configuration.nix
  systems/hermes/run/services/cloud-logging.nix
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Add dotfiles to nix registries
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace
