Repository modiase/Dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake-check, format-nix, format-lua, format-fish, format-go, lint-go, ruff-check, ruff-format, shellcheck, shfmt, remove-trailing-whitespace, format-terraform

flake-check:
  name: validate flake
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix flake show --no-write-lock-file &>/dev/null

format-nix:
  name: format nix files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd nixfmt-rfc-style --run 'fd -e nix -x nixfmt'

format-lua:
  name: format lua files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p stylua --run 'stylua .'

format-fish:
  name: format fish files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd fish --run 'fd -e fish -x fish_indent -w'

format-go:
  name: format go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go --run 'fd -e go -x gofmt -w'

lint-go:
  name: lint go files
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p fd go golangci-lint --run 'for dir in $(fd go.mod -x dirname); do (cd $dir && golangci-lint run ./...); done'

ruff-check:
  name: ruff check
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff check --fix .'

ruff-format:
  name: ruff format
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p ruff --run 'ruff format .'

shellcheck:
  name: shellcheck
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shellcheck --run 'find . -name "*.sh" -o -name "*.bash" | xargs shellcheck'

shfmt:
  name: shfmt
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p shfmt --run 'shfmt -w -i 4 -ci .'

remove-trailing-whitespace:
  name: remove trailing whitespace
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p gnused --run 'git diff --cached --name-only --diff-filter d | xargs -r sed -i "s/[[:space:]]*$//"'

format-terraform:
  name: format terraform
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - nix-shell -p opentofu --run "cd infra && tofu fmt"

Add dotfiles to nix registries
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Support popup notifications in ding
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
Due: shellcheck, shfmt, remove-trailing-whitespace

Expose swiftdialog as a flake
  flake.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update CVE scanner message format
  nix/nixpkgs/cve-scanner/main.py
  nix/nixpkgs/cve-scanner/repo.py
  nix/nixpkgs/cve-scanner/scanner.py
  systems/hermes/run/services/cloud-logging.nix
  systems/hermes/run/services/cve-scanner/default.nix
Due: flake-check, format-nix, ruff-check, ruff-format, remove-trailing-whitespace

Fix logging permission for hermes
  systems/hermes/configuration.nix
  systems/hermes/infra/hermes.tofu
  systems/hermes/run/services/cloud-logging.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Use terminal-notifier not swiftdialog
  flake.nix
  nix/home.nix
  nix/homebrew.nix
  nix/nixpkgs/ntfy-me/default.nix
  nix/nixpkgs/ntfy-me/ding.sh
  nix/nixpkgs/ntfy-me/ntfy-listen.sh
  nix/nixpkgs/swiftdialog/default.nix
Due: flake-check, format-nix, shellcheck, shfmt, remove-trailing-whitespace

Don't call gcertstatus by default
  systems/zeus/default.nix
  systems/zeus/fish/functions/cw.fish
Due: flake-check, format-nix, format-fish, remove-trailing-whitespace

Add terminal-notifier to brew on hephaistos
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Improve activate
  bin/activate
  fish/functions/dotfiles-activate.fish
Due: format-fish, remove-trailing-whitespace

Don't use gmosh at all
  systems/hephaistos/fish/functions/ssh.fish
Due: format-fish, remove-trailing-whitespace

Propagate missing nix config
  systems/zeus/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Simplify git-is-repo
  fish/functions/git_is_repo.fish
Due: format-fish, remove-trailing-whitespace

Allow dotfiles-activate to run anywhere
  bin/activate
  fish/functions/dotfiles-activate.fish
Due: format-fish, remove-trailing-whitespace

Use lower case abs path
  README.md
  bin/activate
  fish/functions/dotfiles-activate.fish
  fish/functions/gsend.fish
  nix/fish.nix
  nix/nixpkgs/cve-scanner/main.py
  systems/hermes/configuration.nix
Due: flake-check, format-nix, format-fish, ruff-check, ruff-format, remove-trailing-whitespace

Fix vim airline config
  nvim/lua/plugins/airline.lua
Due: format-lua, remove-trailing-whitespace

Install case drivers for hestia
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update hestia keys
  nix/authorized-keys.nix
  systems/hestia/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Remove duplicate upgrade header
  systems/hestia/run/services/nginx.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Update AGENTS.md and allow list
  AGENTS.md
  nix/nixpkgs/claude-code/settings.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Rename grbom -> gsync
  fish/functions/gpll.fish
  fish/functions/gsync.fish
Due: format-fish, remove-trailing-whitespace

homebrew: zap removed brews
  nix/homebrew.nix
  systems/hephaistos/configuration.nix
Due: flake-check, format-nix, remove-trailing-whitespace

Path conditions:
  flake-check: any of: \.nix$
  format-nix: any of: \.nix$
  format-lua: any of: \.lua$
  format-fish: any of: \.fish$
  format-go: any of: \.go$
  lint-go: any of: \.go$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  remove-trailing-whitespace: any of: .*
  format-terraform: any of: ^infra/.*\.tofu$
